<div class="explore" data-uri="{{ default _ref _self }}" data-editable="settings">
    <h2>Explore</h2>
    <div class="explore-recipe">
        <ul class="explore-recipe-mul" >
            {{#each recipes}}
            <li>
                <div class="explore-recipe-single">
                    <a target="_blank" href= "{{ url }}" >
                        <img src="{{ imageUrl }}" class="explore-image" data-src="{{ imageUrl }}">
                    </a>
                    <h5>{{ title }}</h5>
                    <div class="explore-score">
                        <h6>{{ score }} </h6>
                        <h6> {{ reviews }}</h6>
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>