<article data-uri="{{ default _ref _self }}" class="{{ componentVariation }}{{ if @root.locals.edit ' editing' }}" role="main">
  <header class="article-header">
    <div class="lede-wrapper">
      <div class="primary-area">
        <div class="article-header-section">
          {{! title }}
          <h1 class="headline-primary" data-editable="headline" itemprop="headline">{{{ headline }}}</h1>
          <div class="bylines">
            {{! authors }}
            <span data-editable="bylines" class="primary-bylines">
              {{{ byline bylines=byline }}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="body">
    <div class="article-content" data-editable="content" itemprop="articleBody">
      {{#unless @root.locals.edit}}
      {{/unless}}
      {{! don't display generated annotatedTextAria in edit mode. }}
      {{#if @root.locals.edit}}
        {{> component-list content }}
      {{else}}
        {{> component-list (addAnnotatedTextAria content) }}
      {{/if}}
    </div>
  </section>
</article>
