<div class="recipe" data-uri="{{ default _ref _self }}" data-editable="settings">
  <div class="recipe-status">
    <h2>{{ title }}</h2>
    <div class="recipe-info">
      <h4 class="recipe-vdivider">{{ madeit }} made it</h4> <h4 class="recipe-vdivider">{{ reviews }} reviews</h4> <h4>{{ photos }} photos</h4>
      <h5>Recipe by: {{ author }}</h5>
    </div>
    <p style="width: 80%;" >{{ recipeD }}</p>
  </div>
  <div class="recipe-imagew">
    <img src="{{ imageUrl }}" class="recipe-image" data-src="{{ imageUrl }}">
    <div class="recipe-images-other">
      <img src="{{ imageUrl }}" class="recipe-images" data-src="{{ imageUrl }}">
      <img src="{{ imageUrl }}" class="recipe-images" data-src="{{ imageUrl }}">
      <img src="{{ imageUrl }}" class="recipe-images" data-src="{{ imageUrl }}">
      <img src="{{ imageUrl }}" class="recipe-images" data-src="{{ imageUrl }}">
      <img src="{{ imageUrl }}" class="recipe-images" data-src="{{ imageUrl }}">
    </div>
  </div>
</div>
  
  {{!-- {{#if imageUrl}}
    <div class="image-container {{ if imageBorderToggle 'bordered' }}">
      <div class="img-figure">
        {{#if clickUrl}}
          <a class="image-link" href="{{clickUrl}}">
        {{/if}}
          <div class="image-wrapper">
            <img src="{{ imageUrl }}" class="img-data" data-src="{{ imageUrl }}" alt="{{ imageAlt }}"/>
          </div>
        {{#if clickUrl}}
          </a>
        {{/if}}
      </div>
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "ImageObject",
          {{#if ./imageCredit}}"author": "{{ toPlainText ./imageCredit }}",{{/if}}
          {{#if ./imageCaption}}"caption": "{{ toPlainText ./imageCaption }}",{{/if}}
          "contentUrl": "{{ ./imageUrl }}"
        }
      </script>
    </div>
    <div itemprop="caption" class="image-cmpt-figcaption attribution">
      {{#if imageCaption}}{{{ imageCaption }}}{{/if}}
      {{#if imageCredit}}<span class="credit">{{ capitalizeAll (if imageType imageType else='Photo') }}: {{{ imageCredit }}}</span>{{/if}}
    </div>
  {{/if}}
</div> --}}
