<div class="recipe" data-uri="{{ default _ref _self }}" data-editable="settings">
  <div class="recipe-status">
    <h2>{{ title }}</h2>
    <div class="recipe-info">
      <h4 class="recipe-vdivider">{{ madeIt }} made it</h4> <h4 class="recipe-vdivider">{{ reviews }} reviews</h4> <h4>{{ photos }} photos</h4>
      <h5>Recipe by: {{ author }}</h5>
    </div>
    <p style="width: 80%;" >{{ recipeDescription }}</p>
  </div>
  <div class="recipe-imagew">
    <img src="{{ imageUrl }}" class="recipe-image" data-src="{{ imageUrl }}">
    <div class="recipe-images-other">
      <img src="{{ imageUrl }}" class="recipe-images" data-src="{{ imageUrl }}">
      <img src="{{ imageUrl }}" class="recipe-images" data-src="{{ imageUrl }}">
      <img src="{{ imageUrl }}" class="recipe-images" data-src="{{ imageUrl }}">
      <img src="{{ imageUrl }}" class="recipe-images" data-src="{{ imageUrl }}">
      <img src="{{ imageUrl }}" class="recipe-images" data-src="{{ imageUrl }}">
    </div>
  </div>
</div>
